.DS_Store

# hexo
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/landscape
_drafts/
_config.yml

.posts.json
bangumis.json

# hugo
resources
.hugo_build.lock
assets/jsconfig.json

db_v2.*
id_ed25519*
