
// LXGW WenKai Screen
@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.6.0/style.min.css"); // https://github.com/lxgw/LxgwWenKai/issues/24
@font-face {
    font-family: "LXGW WenKai Screen R";
    src: url("/fonts/LXGWWenKaiGBScreenR.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "LXGW WenKai GB";
    src: url("/fonts/LXGWWenKaiGB-Regular.woff") format("woff");
    font-weight: normal;
}
:root {
    // --zh-font-family: "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --article-font-family: "LXGW WenKai GB", var(--base-font-family);
}

// color
:root {
    --body-text-color: #707070; // 页面字体颜色
}
