@font-face {
  font-family: "iconfont"; /* Project id 1933138 */
  src: url('//at.alicdn.com/t/font_1933138_2iuam1upwwx.woff2?t=1621657288284') format('woff2'),
       url('//at.alicdn.com/t/font_1933138_2iuam1upwwx.woff?t=1621657288284') format('woff'),
       url('//at.alicdn.com/t/font_1933138_2iuam1upwwx.ttf?t=1621657288284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pokemon:before {
  content: "\e7a8";
}

.icon-ts-tubiao_naservice:before {
  content: "\e720";
}

.icon-minecraft:before {
  content: "\e7f9";
}

.icon-tieba:before {
  content: "\e65b";
}

.icon-zhihu:before {
  content: "\e6ba";
}

.icon-bilibili-fill:before {
  content: "\e75c";
}
