{{/*<!--
example:
  {{< bangumi
    rate="❤️"
    name="某科学的超电磁炮"
    link="https://zh.moegirl.org.cn/某科学的超电磁炮"
    review="唯我超电磁炮永世长存"
  >}}
if rate not set, then rate = "⏳"
-->*/}}

<tbody class="review-tbody" data-rate="{{ .Get "rate" | default "" }}" data-year="{{ .Get "year" | default "" }}">
    <tr class="review-info">
    <td class="review-rate">
      {{- $rate := (strings.TrimSpace (.Get "rate" | default "")) -}}
      {{- if eq $rate "" -}}
        ⏳
      {{- else if eq $rate "0" -}}
        ❌
      {{- else if eq $rate "1" -}}
        👎🏻
      {{- else if eq $rate "2" -}}
        ✔️
      {{- else if eq $rate "3" -}}
        👍🏻
      {{- else if eq $rate "4" -}}
        ❤️
      {{- else if eq $rate "5" -}}
        ❤️❤️
      {{- else -}}
        {{ $rate }}
      {{- end -}}
    </td>

    <td class="review-name">
      {{ if .Get "name" }}
        <a {{ with .Get "link" }} href="{{ . }}" {{ end }}>{{ .Get "name" }}</a>
      {{ end }}
    </td>
  </tr>

    {{ with .Get "comment" }}
    <tr class="review-comment">
        <td colspan="1001">
            <div>{{.}}</div>
        </td>
    </tr>
    {{ end }}
</tbody>